@font-face {
    font-family: 'League Spartan';
    src: url('../../assets/fonts/LeagueSpartan-Thin.woff2') format('woff2'),
        url('../../assets/fonts/LeagueSpartan-Thin.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

