@use './_partials/typography' as *;
@use './_partials/mixins';
@use './_partials/variables';

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    padding: 0 2rem;
    background-color: variables.$color-blue-body-background;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    &__title {
        margin: 0;
        font-size: 2rem;
        color: variables.$color-blue-text-white;
    }

    &__theme-container {
        display: flex;
    }

    &__theme-container-title {
        font-size: 12px;
        letter-spacing: 1px;
        color: variables.$color-blue-text-white;
        margin-top: 1.5rem;
        margin-bottom: 0;
        margin-right: 1rem;
    }

    &__theme-label-container {
        display: flex;
        justify-content: space-around;
    }

    &__theme-input-container {
        background-color: variables.$color-blue-input-background;
        margin-top: .3125rem;
    }
}