@font-face {
  font-family: "League Spartan";
  src: url("../../assets/fonts/LeagueSpartan-VariableFont_wght.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* Media Breakpoints */
*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --color-body-background: hsl(222, 26%, 31%);
  --color-input-background: hsl(223, 31%, 20%);
  --color-display-background: hsl(224, 36%, 15%);
  --color-primary-key-background: hsl(30, 25%, 89%);
  --color-primary-key-shadow: hsl(28, 16%, 65%);
  --color-secondary-key-background: hsl(225, 21%, 49%);
  --color-secondary-key-shadow: hsl(224, 28%, 35%);
  --color-accent-key-background: hsl(6, 63%, 50%);
  --color-accent-key-shadow: hsl(6, 70%, 34%);
  --color-text-body: hsl(0, 0%, 100%);
  --color-text-primary-key: hsl(221, 14%, 31%);
  --color-text-secondary-key: hsl(0, 0%, 100%);
}

.lightmode {
  --color-body-background: hsl(0, 0%, 90%);
  --color-input-background: hsl(0, 5%, 81%);
  --color-display-background: hsl(0, 0%, 93%);
  --color-primary-key-background: hsl(45, 7%, 89%);
  --color-primary-key-shadow: hsl(35, 11%, 61%);
  --color-secondary-key-background: hsl(185, 42%, 37%);
  --color-secondary-key-shadow: hsl(185, 58%, 25%);
  --color-accent-key-background: hsl(25, 98%, 40%);
  --color-accent-key-shadow: hsl(25, 99%, 27%);
  --color-text-body: hsl(60, 10%, 19%);
  --color-text-primary-key: hsl(60, 10%, 19%);
  --color-text-secondary-key: hsl(0, 0%, 100%);
}

.purplemode {
  --color-body-background: hsl(268, 75%, 9%);
  --color-input-background: hsl(268, 71%, 12%);
  --color-display-background: hsl(268, 71%, 12%);
  --color-primary-key-background: hsl(268, 47%, 21%);
  --color-primary-key-shadow: hsl(290, 70%, 36%);
  --color-secondary-key-background: hsl(281, 89%, 26%);
  --color-secondary-key-shadow: hsl(285, 91%, 52%);
  --color-accent-key-background: hsl(176, 100%, 44%);
  --color-accent-key-shadow: hsl(177, 92%, 70%);
  --color-text-body: hsl(52, 100%, 62%);
  --color-text-primary-key: hsl(52, 100%, 62%);
  --color-text-secondary-key: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  padding: 0 1rem;
  background-color: var(--color-body-background);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.header__title {
  margin: 0;
  font-size: 2rem;
  color: var(--color-text-body);
}
.header__theme-container {
  display: flex;
}
.header__theme-container-title {
  font-size: 0.75rem;
  letter-spacing: 1px;
  color: var(--color-text-body);
  margin-top: 1.25rem;
  margin-bottom: 0;
  margin-right: 1rem;
}
.header__theme-label-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3px;
}
.header__theme-label {
  margin: 0;
  color: var(--color-text-body);
  font-size: 0.75rem;
}
.header__theme-button-container {
  background-color: var(--color-input-background);
  height: 1.25rem;
  width: 3.75rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}
.header__theme-button {
  background-color: var(--color-input-background);
  height: 0.75rem;
  width: 0.625rem;
  border-radius: 50%;
  border: none;
}

.active {
  background-color: var(--color-accent-key-background);
}

.display {
  margin-top: 2rem;
}
.display__container {
  background-color: var(--color-display-background);
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border-radius: 10px;
}
.display__history {
  font-size: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  color: var(--color-text-body);
}
.display__input {
  font-size: 2rem;
  margin-right: 1rem;
  color: var(--color-text-body);
}

.calculator {
  margin-top: 1rem;
}
.calculator__container {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--color-input-background);
  padding: 1rem;
  border-radius: 10px;
}
.calculator__key {
  border: none;
  color: var(--color-text-primary-key);
  background-color: var(--color-primary-key-background);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  filter: drop-shadow(0px 3px var(--color-primary-key-shadow));
}
.calculator__delete {
  font-size: 18px;
  color: var(--color-text-secondary-key);
  background-color: var(--color-secondary-key-background);
  filter: drop-shadow(0px 3px var(--color-secondary-key-shadow));
}
.calculator__reset {
  grid-column: span 2;
  font-size: 18px;
  color: var(--color-text-secondary-key);
  background-color: var(--color-secondary-key-background);
  filter: drop-shadow(0px 3px var(--color-secondary-key-shadow));
}
.calculator__equals {
  grid-column: span 2;
  color: var(--color-text-secondary-key);
  background-color: var(--color-accent-key-background);
  filter: drop-shadow(0px 3px var(--color-accent-key-shadow));
}/*# sourceMappingURL=styles.css.map */